html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #c4b1ce28;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  color: rgb(134, 53, 92);
  font-family: "Lucida Handwriting", cursive;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), 0 0 1em rgb(215, 215, 225), 0 0 0.2em rgb(184, 184, 255);
}

.container p {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  font-family: "Lucida Handwriting", cursive;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.235), 0 0 1em rgba(0, 0, 255, 0.229), 0 0 0.2em rgba(0, 0, 255, 0.157);
}

.btn, .reset {
  border: none;
  color: white;
  margin: 38px 0;
  cursor: pointer;
  font-size: 38px;
  font-weight: 900;
  border-radius: 50%;
  box-shadow: 1px 3px 5px #1b1b1af9;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

.btn.rock {
  width: 137px;
  height: 137px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px 40px;
  background-color: rgba(165, 42, 42, 0.578);
}

.btn.paper {
  width: 137px;
  height: 137px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px 36px;
  background-color: rgba(0, 0, 255, 0.572);
}

.btn.scissors {
  width: 137px;
  height: 137px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px 18px;
  background-color: rgba(0, 128, 0, 0.565);
}

.reset {
  width: 100px;
  height: 100px;
  margin-left: 16px;
  padding: 16px 8px;
  background-color: rgba(255, 0, 0, 0.588);
}

.btn:hover,
.reset:hover {
  transform: translateY(-0.15rem);
}

.btn:active,
.reset:active {
  transform: translateY(0);
}

.btn.rock:hover {
  background-color: rgb(165, 42, 42);
}

.btn.paper:hover {
  background-color: rgb(0, 0, 255);
}

.btn.scissors:hover {
  background-color: rgb(0, 128, 0);
}

.reset:hover {
  background-color: rgb(255, 0, 0);
}

.container .score,
.container .result,
.container .winner {
  margin: 24px;
  text-align: center;
  font-weight: bolder;
  font-family: cursive;
}

.container .score {
  font-size: 44px;
}

.container .result {
  font-size: 34px;
}

.container .winner {
  font-size: 50px;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.594), 0 0 1em rgb(215, 215, 225), 0 0 0.2em rgb(184, 184, 255);
}
